<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    	<span>
    		<a href="/">Inicio</a>
    	</span>
    	<span>
    		<a href="/preguntas">Preguntas</a>
    	</span>
    </nav>
    <section class="body">
    	<h1>Bienvenido a <%= title %></h1>
    	<p>El Juego de Adivinanzas</p>
    </section>
    <footer>
    	<span><a href="https://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un Quiz?</a></span>
    </footer>
  </body>
</html>
