<!DOCTYPE html>
<html>
  <head>
    <title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
    	<span>
    		<a href="/">Inicio</a>
    	</span>
    	<span>
    		<a href="/quizes/pregunta">Preguntas</a>
    	</span>
    </nav>
    <section class="body">
    	<%- body %>
    </section>
    <footer>
    	<span><a href="https://es.wikipedia.org/wiki/Quiz" target="_blank">¿Qué es un Quiz?</a></span>
    </footer>
  </body>
</html>
